.start-screen {
    width: 100vw;
    height: 100vh;
    background-color: #4A154B;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    img {
        margin-right: 100px;

        @media (max-width: 1050px) {
            display: none;
        }
    }
}

.introduction {
    position: absolute;
    left: 5%;
    top: 10%;
    height: 400px;

    @media (max-width: 1050px) {
        width: 90%;
        left: 5%;
    }
}

.introduction-header {
    width: 500px;
    display: flex;
    align-items: center;
    gap: 10px;

    @media (max-width: 1050px) {
        width: 100%;
    }

    h1 {
        margin: 0;
        color: white;
        font-size: 50px;
        font-weight: 600;

        @media (max-width: 400px) {
            font-size: 30px;
        }
    }

    img {
        width: 55px;
        margin: 0px;

        @media (max-width: 1050px) {
            display: block;
        }
    }
}

.introduction-body {
    margin-top: 50px;
    height: 150px;
    width: 500px;

    @media (max-width: 1050px) {
        width: 100%;
    }

    p {
        font-size: 40px;
        color: white;
        margin: 0;
        line-height: 120%;

        @media (max-width: 400px) {
            font-size: 25px;
        }
    }
}

.sign-in-button {
    background-color: #33D375;
    border-radius: 8px;
    border: unset;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.6);
    cursor: pointer;
    position: absolute;
    left: 23%;
    bottom: 0;

    p {
        margin: 0;
        padding: 10px 50px 10px 50px;
        font-size: 24px;
        color: white;

        @media (max-width: 450px) {
            padding: 10px 30px 10px 30px;
        }

        @media (max-width: 350px) {
            padding: 10px 20px 10px 20px;
            font-size: 16px;
        }
    }

    &:hover {
        transform: scale(1.1);
        transition: all 125ms ease-in-out;
    }

    @media (max-width: 1050px) {
        left: 50%;
        transform: translate(-50%);

        &:hover {
            transform: scale(1.1) translate(-46%);
            transition: all 125ms ease-in-out;
        }
    }
}

.start-screen-footer {
    width: 90%;
    position: absolute;
    display: flex;
    align-items: center;
    left: 5%;
    bottom: 10%;
    gap: 20px;

    @media (max-width: 1050px) {
        left: 50%;
        transform: translate(-50%);
    }

    @media (max-width: 480px) {
        flex-direction: column;
        gap: 5px;
    }

    p {
        margin-block: 0px;
        color: white;
        font-size: 16px;
    }
}

.underline-effect {
    cursor: pointer;
    position: relative;
    top: 3px;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    p {
        padding-bottom: 1px;
    }

    div {
        position: relative;
        right: 100%;
        height: 3px;
        background-color: #33D375;
        border-radius: 3px;
        transition: ease-in-out 125ms;
    }

    &:hover {
        div {
            right: 30%;
        }
    }
}