.threadPage {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
}

.threadsAndEditorPosition {
  height: inherit;
  width: 100%;
  display: flex;
  flex-direction: column;
  transition: 75ms ease-in-out;
}

.content-header {
  height: 52px;
  border-top: solid 1px rgba(0, 0, 0, 0.2);
  border-bottom: solid 1px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: flex-start;
  align-items: center;

  h2 {
    padding-left: 16px;
    margin: 0px;
  }
}

.allThreads {
  height: calc(100% - 202px);
  padding-top: 20px;
  overflow: auto;
  scroll-behavior: smooth;
}

.thread {
  position: relative;
  padding: 16px;
  display: flex;
  flex-direction: column;

  &:hover {
    background-color: rgb(235, 235, 235);
  }
}

.thread-date {
  position: absolute;
  top: -14px;
  left: 50%;
  transform: translateX(-50%);

  width: 100px;
  height: 28px;
  border: solid 1px rgba(0, 0, 0, 0.2);
  background-color: white;
  border-radius: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.thread-content-cont {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;

  img {
    width: 44px;
    height: 44px;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
  }
}

.delete-thread {
  position: absolute;
  top: 4px;
  right: 4px;
  padding: 4px;
  border-radius: 8px;
  background-color: rgba(200, 0, 0, 0.4);
  cursor: pointer;
  transition: 75ms ease-in-out;

  &:hover {
    background-color: rgba(200, 0, 0, 0.6);
  }
}

.thread-content {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-left: 16px;
}

.thread-text {
  font-size: 14px;
  width: 95%;
}

.thread-name {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 4px;

  h3 {
    margin: 0px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}

.thread-span {
  font-size: 12px;
  font-weight: 300;
}

.answers {
  margin-left: 54px;
  margin-top: 16px;
  display: flex;
  align-items: center;

  img {
    width: 24px;
    height: 24px;
    object-fit: cover;
    border-radius: 8px;
  }

  a {
    cursor: pointer;
    color: blue;
  }
}









.thread-position {
  width: 300px;
  background-color: rgb(250, 250, 250);
  position: absolute;
  top: 0px;
  right: -300px;
  bottom: 0px;
  transition: 75ms ease-in-out;
  border-left: solid 1px rgba(0, 0, 0, 0.2);
}

.thread-content-position {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.thread-comment-header {
  height: 49px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 16px;
  border-top: solid 1px rgba(0, 0, 0, 0.2);
  border-bottom: solid 1px rgba(0, 0, 0, 0.2);

  h2 {
    margin: 0px;
  }
}

.close-thread-comment {
  width: 32px;
  height: 32px;
  border-radius: 32px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: rgb(235, 235, 235);
  }
}

.open-thread-comments {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: auto;
  padding-inline: 16px;
  scroll-behavior: smooth;
}

.thread-open-name {
  display: flex;
  align-items: center;
}

.comment {
  display: flex;
  flex-direction: column;
  padding-block: 16px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.2);

  img {
    width: 32px;
    height: 32px;
    border-radius: 8px;
  }

  div {
    gap: 8px;
  }

  &:hover {
    background-color: rgb(235, 235, 235);
  }
}