<div class="allThreads">
  <div class="thread-cont" *ngFor="let thread of threads; let i = index">
    <div class="thread-date">{{ dateOfThreads }}</div>
    <div class="thread-content-cont">
      <img src="assets/img/{{ thread.authorPic }}" alt="img of thread-user" />
      <div class="thread-content">
        <h3>
          {{ thread.author }}<span>{{ thread.date }}</span>
        </h3>
        <div class="thread-text">{{ thread.text }}</div>
      </div>
    </div>
    <div class="answers">
      <img src="assets/img/pinguin.svg" alt="img of answer-user" />
      <a  (click)="open(i)">Antworten</a>
      <span>Zeitraum zu letzter Antwort</span>
    </div>
  </div>

  <div class="side-thread-cont" *ngIf="openSide">
    <h1>Opend Threads</h1>
  </div>
</div>
