/* HEADER */  


.toolbar-cont {
  top: 0;
  left: 0;
  right: 0;
  height: 46px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    margin: 0;
  }

  input {
    width: 40vw;
    padding: 8px;
    border: none;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.4);
    color: white;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: white;
    }
  }

  button {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  img {
    width: inherit;
    height: inherit;
    border-radius: 20%;
    background-color: rgb(200, 200, 200);
  }
}


.search-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* HEADER */  




/* SIDEBAR */  


.all-but-head {
  width: 100%;
  height: calc(100vh - 46px);
}


.left-sidebar {
  width: 300px;

  h2 {
    border-top: solid 1px #6E446F;
    border-bottom: solid 1px #6E446F;
    margin: 0px;
    padding: 10px 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
  }

  h3 {
    margin: 0px;
    padding: 10px 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;

    &:hover {
      .channel-create-icon {
        color: white;
      }
    }

    .channel-create-icon {
      color: transparent;
    }
  }
}


.channel-cont {
  padding-inline: 16px;

  h4 {
    margin: 4px;
    padding: 4px 20px;
    border-radius: 10px;
    cursor: pointer;
  }
}


/* SIDEBAR */  




/* ROUTER CONTENT */ 


.example-sidenav-content {
  height: 100%;
}


.route-cont {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.app-text-container {
  width: inherit;
}


/* ROUTER CONTENT */ 