/* HEADER */

.toolbar-cont {
  top: 0;
  left: 0;
  right: 0;
  height: 46px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.toolbar-left {
  display: flex;
  align-items: center;
  gap: 8px;

  h1 {
    margin: 0;
  }

  img {
    width: 34px;
    height: 34px;
  }
}




input {
  width: 30vw;
  padding: 8px 24px;
  border: none;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.4);
  color: black;
  transition: 75ms ease-in-out;
  font-family: Roboto;
  font-size: 14px;

  &:focus {
    outline: none;
    background-color: rgb(250, 250, 250);
  }

  &::placeholder {
    color: white;
    font-weight: 500;
  }
}



.profile {
  width: 34px;
  height: 34px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.2);
  overflow: hidden;

  img {
    width: inherit;
    height: inherit;
    border-radius: 8px;
  }
}


/* HEADER */




/* SIDEBAR */


.all-but-head {
  width: 100%;
  height: calc(100vh - 46px);
}


.left-sidebar {
  width: 299px;
  border-right: solid 1px #6E446F;
}

h2 {
  border-block: solid 1px #6E446F;
  margin: 0px;
  padding: 8px 16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}


.sidebar-dropdown {
  margin: 16px;
  margin-bottom: 0px;
  border-radius: 8px;
  gap: 4px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;

  h3 {
    margin: 0px;
    font-size: 18px;
  }

  .channel-create-icon {
    color: transparent;
  }

  &:hover {
    background-color: #6E446F;

    .channel-create-icon {
      color: white;
    }
  }
}


.icon-btn {
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;

  mat-icon {
    overflow: unset;
  }
}


.channel-cont {
  padding-inline: 8px;

  h4 {
    margin: 4px;
    padding: 4px 16px;
    border-radius: 8px;
    cursor: pointer;

    &:hover {
      background-color: #6E446F;
    }
  }
}


/* SIDEBAR */


.content {
  height: 100%;
  overflow: hidden;
  position: relative;
}


.toggle-sidenav {
  position: absolute;
  top: 16px;
  left: 16px;
  z-index: 99;
  background-color: rgba(250, 250, 250, 0.8);
  box-shadow: 0px 0px 5px 0px gray;
  transition: 75ms ease-in-out;

  &:hover {
    background-color: rgb(250, 250, 250);
  }
}

.dark-theme {
  color: white;
  background-color: rgb(30, 30, 30);
  border-color: rgba(255, 255, 255, 0.2);
}

.dark-theme-2 {
  color: white;
  background-color: rgb(50, 50, 50);
  border-color: rgba(255, 255, 255, 0.2);

  &:focus {
    background-color: rgb(90, 90, 90);
  }

  .dark-theme-sidecont {
    color: white;
    background-color: rgb(30, 30, 30);

    &:hover {
      background-color: rgb(50, 50, 50);
    }
  }
}