.text-box {
    width: 100%;
    background-color: rgb(250, 250, 250);

    display: flex;
    justify-content: center;
    align-items: center;
}


.content-editor {
    margin-block: 16px;
    width: 90%;

}