alldirect-messages{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.top-direct-cont{
width:100%;
}
.direct-mess-cont{
   height: 100%;
    padding-right:16px;
    padding-left: 16px;
    padding-top:16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.input-cont{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    height:70px;
    margin-left: -16px;
    margin-right: -16px;
    background-color: white;
    padding:16px;
    font-size: 16px;
    border-bottom: 1px solid rgba(0,0,0,0.15);
    border-top: 1px solid rgba(0,0,0,0.15);
    span{
        font-size: 16px;
    }
    input{
        width: 500px;
    border: unset;
    height: 100%;
    padding-left: 16px;
    font-size: 16px;
    &:focus{
        outline: none;
    }
    }
}

.all-Messages-cont{
height:80vh;
overflow-y: auto;
width:95%;
}


.message-cont {
    position: relative;
   border:solid 1px rgba(0,0,0,0.15);
   border-radius:16px;
   width:80%;
   padding: 24px;
   background-color: white;
   word-wrap: break-word;
   overflow: auto;
   &:hover{
    background-color:rgba(0,0,0,0.15); 
    cursor: pointer;
   }
  }
  
  .message-date {
    
    margin-top:24px;
    width: 200px;
    height: 28px;
   
  }
  
  .thread-content-cont {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  
    img {
      width: 54px;
      height: 54px;
      object-fit: contain;
    }
  }
  
  .thread-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 16px;
    font-size: 18px;
    h3 {
      margin-bottom:5px;
      font-size: 14px;
      font-weight: bold;
      span {
        margin-left: 24px;
        font-size: 12px;
        font-weight: 300;
      }
    }
    .thread-text{
      font-size: 14px;
      
    }
  }

  .write-cont{
    width: 100%;
    margin-left:-16px;
  }

  .close-btn{
    position: absolute;
    top:-156px;
    right:6px;
    }


