
<div class="direct-mess-cont">
<div class="top-direct-cont"> 
<h1>Direktnachrichten</h1>
<div class="input-cont">
    <span>An:</span>
   
    <div [matMenuTriggerFor]="contacts"  ><input (ngModelChange)="onInputChange()"  [(ngModel)]="messageTo" id="messageTo" placeholder="@jemand@beispiel.com"></div>
    <mat-menu [hasBackdrop]="false" #contacts="matMenu">
        <button *ngFor="let user of emailUser;let i=index" mat-menu-item (click)="writeContact(user.email)" >{{user.email}} </button>
      </mat-menu>
</div>
</div> 

<div class="all-Messages-cont" *ngIf="overview">
<div class="message-box" *ngFor="let message of allMessages" >
    <div class="message-date">{{message.datestring}}</div>
    <div class="message-cont" >
       
        <div class="thread-content-cont">
          <img src="assets/img/{{getPictureOfAuthor(message)}}" alt="img of thread-user" />
          <div class="thread-content">
            <h3>
               {{message.author}}
            </h3>
            <div class="thread-text" [innerHTML]="message['text']"></div>
          </div>
        </div>
       
       
      </div>
</div>
</div>
<div class="write-cont">
    <app-text-box #messagetext  (myEvent)="saveMessage()"></app-text-box>

</div>
</div>


