
<div class="direct-mess-cont">
<h1>Direktnachrichten</h1>
<div class="input-cont">
    <span>An:</span>
   
    <div [matMenuTriggerFor]="contacts"  ><input [(ngModel)]="messageTo" id="messageTo" placeholder="@jemand@beispiel.com"></div>
    <mat-menu [hasBackdrop]="false" #contacts="matMenu">
        <button *ngFor="let user of users;let i=index" mat-menu-item (click)="writeContact(user.email)" >{{user.email}} </button>
      </mat-menu>
</div>
<div *ngIf="overview">
<div class="message-box" *ngFor="let message of allMessages" >
    <div class="message-date">{{message.datestring}}</div>
    <div class="message-cont" >
       
        <div class="thread-content-cont">
          <img src="assets/img/pinguin.svg" alt="img of thread-user" />
          <div class="thread-content">
            <h3>
               {{message.author}}
            </h3>
            <div class="thread-text">{{message['text']}}</div>
          </div>
        </div>
       
       
      </div>
</div>
</div>
<div class="write-cont" *ngIf="!overview">
    <button class="close-btn" mat-button (click)="closeWrite()">X</button>
    <app-text-box #messagetext  (keyup.enter)="saveMessage()"></app-text-box>

</div>
</div>


