body {
    margin: 0;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100vh;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.blurr {
    filter: blur(10px);
}

.cursor-pointer {
    cursor: pointer;
}

.fullWidth {
    width: 100%;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.mode-colors{
    background-color: rgb(77, 2, 77);
    color: white;
}

.mode-colors-nav{
    color: white;
    background-color: rgba(85, 2, 85, 0.961);
}